body {background-color: #F5F6F8}
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:hover{
    outline: none;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 0px;
  height: 0px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

html,body{
  height: 100%;
  width: 100%;
}

.c-danger {color: #FE5E3D}
.c-warning {color: #F89901}
.c-pink {color: #FFB3B3}
.c-info {color: #36B0F6}
.c-success {color: #47CF8A}
.c-master {color: #3e83e5}
.c-ccc {color: #cccccc}
.c-999 {color: #999999}
.c-666 {color: #666666}
.c-333 {color: #333333}
.fs12 {font-size: .5rem}
.fs14 {font-size: .58rem}
.fs16 {font-size: .66rem}
.fs18 {font-size: .74rem}
.fs20 {font-size: .82rem}
.fs24 {font-size: .9rem}
.fbold {font-weight: 700}
.tac {text-align: center}
.tar {text-align: right}
.vam {vertical-align: middle}
.pr {position: relative}
.pa {position: absolute}
.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.margin{
  margin: 0 auto;
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paddingTop{
  padding-top: 1.95rem;
}

.content-padded {margin: .4rem}
.hLh30 {height: 1.18rem;line-height: 1.18rem}
.pr5 {padding-right: .5rem}
.pl5 {padding-left: .5rem}
.mint-header-title {font-size: .7rem}

@keyframes backOpacity{
  0%   { opacity: 1 }
  25%  { opacity: .5 }
  50%  { opacity: 1 }
  75%  { opacity: .5 }
  100% { opacity: 1 }
}

.animation_opactiy{
  animation: backOpacity 2s ease-in-out infinite;
}
/* layout */
body.hidden {overflow: hidden}
.main {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 54px;
  z-index: 0;
}
.main-head.main {bottom: 0;}
.main-foot.main {top: 0;}
.card {
  background: #fff;
  box-shadow: 0 0 0.8rem rgba(0,0,0,.02);
  margin: .5rem;
  position: relative;
  border-radius: .1rem;
  font-size: .7rem;
}
.bottom-menu__wrap {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 2rem;
    table-layout: fixed;
    background-color: #fff;
    box-shadow: 0 -0.2rem 0.2rem rgba(0,0,0,.01);
    .mint-tabbar {
        background-image: none;
        top: 0;
        .mint-tab-item-icon {
            width: 20px;
            height: 20px;
        }
        .mint-tab-item-icon svg path {
            color: #666;
        }
    }
    .mint-tab-item:last-child {
        padding: 0;
        button {
            border-radius: 0;
            height: 2rem;
        }
    }
}
.tab-content__wrap .mint-tab-container-wrap {height: 100% !important;}
.filter-tab-link .mint-tab-item-label {
    font-size: .62rem;
    line-height: 2rem;
}
.mint-navbar .filter-tab-link.mint-tab-item.is-selected {
    border-bottom: none;
    color: #26a2ff;
    margin-bottom: 0;
}
.modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 10600;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
.filter-tab-link .mint-cell-allow-right::after {
    width: 6px;
    height: 6px;
    top: 40%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.filter-tab-link.is-selected .mint-cell-allow-right::after {
    border-color: #26a2ff;
}
.filter-cont__wrap .mint-tab-container {
    height: 100%;
    .mint-tab-container-wrap {
        height: 100%;
        .mint-tab-container-item {
            height: 100%;
        }
    }
}
